.container {
    width: 1024px;
    margin: 0 auto;
}
figure {
    margin-left: 0;   
}
img {
    width: 200px;
}
header {
    text-align:center;
}
.fio {
    font-size: 150%
}
.info {
    font-weight: 200;
}